@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Quicksand:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* DARKMODE TOGGLE */
.toggle-label{
    position:fixed;

    top:20px;
    right:20px;

    width:65px;
    height:35px;

    background:#f6c7d0;

    border-radius:50px;

    display:flex;
    align-items:center;
    justify-content:center;

    cursor:pointer;

    z-index:2000;

    font-size:14px;

    box-shadow:0 4px 15px rgba(0,0,0,0.15);

    transition:0.4s ease;
}

.toggle-label:hover{
    transform:scale(1.05);
}
.toggle-label{
    position:fixed;

    top:20px;
    right:20px;

    width:65px;
    height:35px;

    background:#f6c7d0;

    border-radius:50px;

    display:flex;
    align-items:center;
    justify-content:center;

    cursor:pointer;

    z-index:2000;

    font-size:14px;

    box-shadow:0 4px 15px rgba(0,0,0,0.15);

    transition:0.4s ease;
}

.toggle-label:hover{
    transform:scale(1.05);
}

:root{
    --cream:#fff8f4;
    --soft-pink:#f6c7d0;
    --rose:#e88aa2;
    --lavender:#8d7aa8;
    --light-purple:#cbb7d8;
    --text:#5c4b5f;
    --accent:#ff8fb1;
}

body{
    background:var(--cream);
    color:var(--text);
    font-family:'Quicksand', sans-serif;
    line-height:1.8;
}

.navbar{
    position:sticky;
    top:0;
    z-index:1000;

    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;

    padding:18px 8%;

    background:rgba(255,248,244,0.92);

    backdrop-filter:blur(10px);

    border-bottom:1px solid #efd7de;

    gap:20px;
}

/* LOGO */
.logo{
    font-family:'Cormorant Garamond', serif;
    font-size:2rem;
    color:var(--lavender);
    letter-spacing:2px;

    flex-shrink:0;
}

/*RIGHT SIDE*/
.nav-right{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    flex-wrap:wrap;

    gap:20px;
}

/* NAV LINKS */
.nav-links{
    display:flex;
    align-items:center;
    flex-wrap:wrap;

    gap:22px;

    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:var(--text);

    font-weight:600;

    transition:0.3s ease;

    position:relative;

    white-space:nowrap;
}

/* HOVER UNDERLINE */
.nav-links a::after{
    content:'';

    position:absolute;

    width:0%;
    height:2px;

    left:0;
    bottom:-5px;

    background:var(--rose);

    transition:0.3s ease;
}

.nav-links a:hover::after{
    width:100%;
}


/* HIDE CHECKBOX */
#dark-toggle{
    display:none;
}

/* TOGGLE */
.toggle-label{
    position:relative;

    width:62px;
    height:32px;

    background:var(--soft-pink);

    border-radius:50px;

    cursor:pointer;

    transition:0.4s ease;

    flex-shrink:0;
}

/* TOGGLE BALL */
.toggle-ball{
    position:absolute;

    width:24px;
    height:24px;

    background:white;

    border-radius:50%;

    top:4px;
    left:5px;

    transition:0.4s ease;

    box-shadow:0 2px 8px rgba(0,0,0,0.15);
}

/* ACTIVE TOGGLE */
#dark-toggle:checked + .toggle-label .toggle-ball{
    transform:translateX(28px);
}

#dark-toggle:checked + .toggle-label{
    background:#40385d;
}

.logo{
    font-family: 'Cormorant Garamond', serif;
    font-size:2rem;
    color:var(--lavender);
    letter-spacing: 2px;
}  

.nav-links{
    display:flex;
    gap:30px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:var(--text);
    font-weight:600;
    transition:0.3s ease;
    position:relative;
}

.nav-links a::after{
    content:'';
    position:absolute;
    width:0%;
    height:2px;
    left:0;
    bottom:-5px;
    background:var(--rose);
    transition:0.3s;
}

.nav-links a:hover::after{
    width:100%;
}

.nav-links a:hover{
    color:var(--rose);
}

.hero{
    min-height:100vh;

    display:flex;
    justify-content:center;
    flex-direction:column;

    text-align:center;
    padding:40px;

    background:linear-gradient(rgba(70, 58, 70, 0.75)),
    url("artwork.PNG");

    background-size:cover;
    background-position:center;
}

.hero h2{
    font-family:'Cormorant Garamond',serif;
    font-size:5rem;
    color:var(--rose);
    margin-bottom:10px;
}

.hero p{
    font-size:1.2rem;
    max-width:700px;
    margin:0 auto 30px auto;
    text-align:center;
    color:white;
}

.btn{
    display:inline-block;

    padding: 14px 32px;

    background:var(--rose);
    color:white;

    border-radius: 40px;

    text-decoration:none;
    font-weight:600;

    transition:0.4s ease;
}

.btn:hover{
    background:var(--lavender);
    transition:translateY(-4px);
}

.section{
    padding: 100px 10%;
}

.section h2{
    font-family:'Coromant Garamond',serif;
    font-size:3rem;
    color:var(--lavender);

    text-align:center;
    margin-bottom:50px;
}

#about p{
    max-width:800px;
    margin:auto;
    text-align:center;
    font-size:1.1rem;
}

.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minimax(280px, 1fr));
    gap:30px;
}

.project-card{
    background:white;

    border-radius:25px;
    overflow:hidden;

    padding:30px;

    box-shadow: 0 10px 30px rgba(232,138,162,0.15);

    transition:0.4s ease;
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(141,122,168,0.2);
}

.project-card h3{
    font-family:'Cormorant Garamond',serif;
    color:var(--rose);
    margin-bottom:10px;
    font-size:2rem;
}

.skills-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

.skills-container span{
    padding:12px 24px;
    border-radius:40px;
    background:var(--soft-pink);
    color:var(--text);

    font-weight:600;
    transition:0.3s ease;
}

.skills-container span:hover{
    background:var(--lavender);
    color:white;
    transform:scale(1.05);
}

#contact{
    text-align:center;
}

#contact p{
    margin-bottom:15px;
}

footer{
    padding:30px;
    text-align:center;

    background: #f3d9e2;
    color:var(--text);
}

.hero h2{
    animation:float 4s ease-in-out infinite;
}

@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-10px);}
    100%{transform:translateY(0);}
}

.project-card img{
    width:100%;
    border-radius:20px;
    margin-bottom:20px;

    transition:0.4s ease;
}

.project-card img:hover{
    transform:scale(1.03);
}

.project-card,
.skills-container span,
.btn{
    animation:fadeIn 1s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

body:has(#dark-toggle:checked){
    background:#1f1b2e;
    color:#f4e9f2;
}

/*NAVBAR*/
body:has(#dark-toggle:checked).navbar{
    background:rgba(31,27,46,0.9);
    border-bottom:1px solid #40385d;
}

/*LOGO*/
body:has(#dark-toggle:checked).logo{
    color:#f6c7d0;
}

/*NAV LINKS*/
body:has(#dark-toggle:checked).nav-links a{
    color:#f4e9f2;
}

body:has(#dark-toggle:checked).nav-links a:hover{
    color:#ffb7cc;
}

/*HERO*/
body:has(#dark-toggle:checked).hero{
    background:
    linear-gradient(
        rgba(31,27,46,0.82),
        rgba(31,27,46,0.82)
    ),
    url("artwork.PNG");

    background-size:cover;
    background-position:center;
}

body:has(#dark-toggle:checked).hero h2{
    color:#f6c7d0;
}

/*SECTION TITLES*/
body:has(#dark-toggle:checked).section h2{
    color:#f6c7d0;
}

/*PROJECT CARDS*/
body:has(#dark-toggle:checked) .project-card{
    background:#2b2540;
    color:#f4e9f2;

    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

body:has(#dark-toggle:checked).project-card h3{
    color:#ffb7cc;
}

/*SKILLS*/
body:has(#dark-toggle:checked).skills-container span{
    background:#40385d;
    color:#f4e9f2;
}

body:has(#dark-toggle:checked).skills-container span:hover{
    background:#ff8fb1;
}

/*FOOTER*/
body:has(#dark-toggle:checked) footer{
    background:#171320;
}

/*BUTTON*/
body:has(#dark-toggle:checked) .btn{
    background:#ff8fb1;
    color:white;
}

body:has(#dark-toggle:checked) .btn:hover{
    background:#cbb7d8;
}

/*TRANSITIONS*/
.page-content,
.navbar,
.hero,
.project-card,
.skills-container span,
.btn,
footer,
.nav-links a{
    transition:0.4s ease;
}

/*desktop*/
@media (min-width:1200px){

    /* LIMIT CONTENT WIDTH */
    .navbar,
    .section,
    .hero{
        width:100%;
    }

    .section{
        padding:110px 12%;
    }

    /* HERO */
    .hero h2{
        font-size:5.5rem;
    }

    .hero p{
        max-width:750px;
        font-size:1.25rem;

        margin:0 auto 35px auto;
        text-align:center;
    }

    /* GALLERY */
    .project-container{
        grid-template-columns:
        repeat(3, 1fr);

        gap:35px;
    }

    .project-card{
        padding:35px;
    }

    .project-card img{
        height:340px;
        object-fit:cover;
    }

    /* SECTION TITLES */
    .section h2{
        font-size:3.4rem;
    }

    /* SKILLS */
    .skills-container{
        max-width:1000px;
        margin:auto;
    }
}

/*tablets*/
@media (max-width:1024px){

    .navbar{
        padding:18px 6%;
    }

    .nav-right{
        gap:16px;
    }

    .nav-links{
        gap:16px;
    }

    .nav-links a{
        font-size:0.95rem;
    }
}

/*mobile*/
@media (max-width:768px){

    .navbar{
        flex-direction:column;
        align-items:center;

        padding:20px;

        gap:18px;
    }

    .logo{
        text-align:center;
    }

    .nav-right{
        width:100%;

        flex-direction:column;
        align-items:center;

        gap:18px;
    }

    .nav-links{
        justify-content:center;

        width:100%;

        gap:14px;
    }

    .nav-links a{
        font-size:0.92rem;
    }

    .toggle-label{
        width:58px;
        height:30px;
    }

    .toggle-ball{
        width:22px;
        height:22px;
    }

    #dark-toggle:checked + .toggle-label .toggle-ball{
        transform:translateX(26px);
    }
}